<div class="role_form_wrapper">
  <%= "#{@roles.last.name} <input type=radio name=assignment[role_id] value=#{@roles.last.id} id=assignment_role_id_#{@roles.last.id} class='form_button' >".html_safe %>
</div>
