%h1 Listing assignments

%table.table.table-condensed
  %tr
    %th User
    %th Client
    %th Role
    %th Start date
    %th End time
    %th
    %th
    %th
  
  - @assignments.each do |assignment|
    =render "assignments/assignment", assignment: assignment

%br

/ = link_to 'New Assignment', new_assignment_path
= render 'assignments/form'