.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
  %h1=user.name 
.modal-body
  %table.table.table-condensed
    %tr
      %th Client
      %th Role
    -user.assignments.each do |assignment|
      %tr
        %td=assignment.client.name
        %td=assignment.role.name 