.index-pane.col-md-2.pane{"data-target" => "##{dom_id(user, :infos)}", "data-toggle" => "modal"}
  %i.fa.fa-user.form-icon 
  %h4=user.name
  =user.clients.count
  clients
  %br
=render 'users/infoModal', user: user 
 