%h1 Users
.userlist
  - @users.each do |user|
    =render 'users/user', user: user
  %br

%button.btn.col-md-2.pane.index-pane{"data-toggle" => "modal", "data-target" => "#newUserModal"}
  %i.fa.fa-user.form-icon 
  %h4 New User
=render 'users/modal'


  
