.row
  .col-md-12
    #title.pane
      %i.fa.fa-user
      %h1 Users
.row
  .userlist
    - @users.each do |user|
      =render 'users/user', user: user
  .col-xs-12.col-lg-3.col-md-4.col-sm-4
    .index-pane.pane{"data-toggle" => "modal", "data-target" => "#newUserModal"}
      %i.fa.fa-user
      %h4 New User
=render 'users/modal'

