.row
  .col-md-6
    #title.pane
      %i.fa.fa-user
      %h1 Users
.row
  .userlist
    - @users.each do |user|
      =render 'users/user', user: user
  .index-pane.col-md-2.pane{"data-toggle" => "modal", "data-target" => "#newUserModal"}
    %i.fa.fa-user
    %h4 New User
=render 'users/modal'

