.col-xs-6.col-md-3
  .pane
    %i.fa.fa-briefcase.form-icon 
    %h4= client.name
    =client.users.count
    team members
    %br
    %button.btn.btn-primary{"data-target" => "##{dom_id(client, :infos)}", "data-toggle" => "modal"}
      modal
    = link_to 'Show', client
    =render 'clients/modal', client: client 