.modal.fade{:id => dom_id(client, :infos), "aria-hidden" => "true", "aria-labelledby" => dom_id(client, :infos), :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      =render 'clients/info', client: client      

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close