#clientModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      =render 'clients/info', client: client      

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close