.row
  %h1 Listing clients
.row
  .clientlist
    - @clients.each do |client|
      =render 'clients/client', client: client  
  .col-xs-6.col-md-3
    %button.btn.pane{"data-toggle" => "modal", "data-target" => "#newClientModal"}
      
      %i.fa.fa-briefcase.form-icon 
      %h4 New Client
    =render 'clients/newclientmodal'

        


/ %table
/   %tr
/     %th Name
/     %th
/     %th
/     %th

  
/     %tr
/       %td
/       %td
/       %td= link_to 'Edit', edit_client_path(client)
/       %td= link_to 'Destroy', client, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br


