.row
  .col-md-12
    #title.pane
      %i.fa.fa-briefcase
      %h1 Clients
.row
  .clientlist
    - @clients.each do |client|
      =render 'clients/client', client: client  
  .index-pane.col-xs-12.col-lg-2.col-md-3.col-sm-4.pane{"data-toggle" => "modal", "data-target" => "#newClientModal"}
    %i.fa.fa-briefcase
    %h4 New Client
  =render 'clients/newclientmodal'

