.row
  .col-md-12
    #title.pane
      =render 'clients/clientname', client: @client
      %span
        %i.fa.fa-pencil{"data-toggle" => "modal", "data-target" => "#updateClientModal"}
      


.row
  .col-md-6
    .show_box.pane
      %h4 Current Assignments
      %table.table.table-condensed
        %tr
          %th User
          %th Role
          %th Start date
          %th End time
          %th
        
        - @assignments.each do |assignment|
          =render "assignments/assignment", assignment: assignment    
  .col-md-6
    .show_box.pane
      .make_asignment
        %h4 Make Assignment
      .form-container
        =render 'assignments/form' 
/ TODO: ADD CANCEL BUTTON FOR UPDATE FORM

=render 'clients/updateclientmodal'
=render 'assignments/editassignmentmodal'