// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form_button{
  display: none;
}
#role_text{
  clear: both;
  width: 150px;
  
}
#free_system_input{
  color: black;
}
h4{
  color: black;
}

.role_form_wrapper,.client_form_wrapper, .user_form_wrapper {
  // display: inline-block;
  color: #000;
  text-align: center;
  padding: 5px;
  width: 115px;
  height: 50px;
  margin: 5px;
  background-color: white;
  // display: table-cell;
    float: left;
  // vertical-align: middle;
  box-shadow: inset -1px -1px 3px #53bc9c;
  &:hover{
    background: #53bc9c;
    color: white !important;
  }
}
.selected_role {
  background: #53bc9c;
  color: white !important;
}
.field{
  .a{
  display: table-cell;
  }
}

  
a{
  color: #000;
}
.end_time, .start_time{
  display: inline-block;
}
.user_section, .role_section{
  clear: both;
    // float: left;
    display: inline-block;
  }
