// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form_button{
  // display: none;
}

.selected_role {
  background-color: #53bc9c;
  color: white !important;
}
.role_form_wrapper,.client_form_wrapper, .user_form_wrapper {
  display: inline-block;
  text-align: center;
}