// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-icon {
 font-size: 4em;
  margin-top: 10px;
  color: purple;
}
.ending{
  clear: both;
}


