// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  border: red 1px solid;
}
body{
  background-color: #f1f2f6;
}