// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  // border: red 1px solid;
}
body{
  background-color: #f1f2f6;
  font-family: 'Raleway', sans-serif;
}
.navbar{
  background-color: #0d83dd;
  margin-bottom: 0px;
  height: 70px;
  border: 0px;
  
}

.navbar-nav > li > a{
  color: white;
  font-size: 24px;
  height: 70px;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  &:hover{
     color: #0d83dd;
     background-color: #f1f2f6;
  }
}
h1{
  color: #8e44ad;
  font-weight: 700;
}
#title{
  padding-left: 20px;
  height: 90px;
  line-height: 90px;
  margin-bottom: 20px;
  span{
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    // display: inline-block;
  }
}
.client_name{
  display: inline-block;
  font-weight: 800
}
.pane{
  background: white;
  // box-shadow: 2px 2px 3px 1px grey;  
  
}
.index-pane{
  height: 196px;
  text-align: center;
  margin: 10px;
  padding: 5px; 
}